$sizes : (
'.padd-xs' : 0.5,
'.padd-sm' : 1.0,
''         : 2.0,
'.padd-md' : 3.0,
'.padd-lg' : 4.0,
'.padd-xl' : 5.0,
'.padd-nn' : 0.0
);

@mixin elementSpacing($base)
{
    /*******************
    ** Section Spacing
    *******************/
    .section
    {
        @each $size in $sizes
        {
            $gap : map-get($sizes, #{nth($size,1)});

            &#{nth($size,1)}                                { padding-top: $base*$gap; padding-bottom: $base*$gap;}
        }

        &.plain
        {
            & + &                                           { padding-top: 0;}

            @media screen and (min-width: 1025px)
            {
                @each $size in $sizes
                {
                    $gap : map-get($sizes, #{nth($size,1)});

                    &#{nth($size,1)}                        { padding-top: $base*$gap - $patternSpace/2; padding-bottom: $base*$gap - $patternSpace/2;}
                }

                @each $size in $sizes
                {
                    $gap : map-get($sizes, #{nth($size,1)});

                    &#{nth($size,1)}:last-child             { padding-bottom: $base*$gap;}
                }
            }
        }


        &.padd-nn { &, &.plain                              { padding-top: 0; padding-bottom: 0;}}


                    .row + .row:not(.columns)               { margin-top: $base*2;}
        &.padd-sm { .row + .row:not(.columns)               { margin-top: $base;}}
        &.padd-xs { .row + .row:not(.columns)               { margin-top: $base/2;}}


        .box                                                { padding: $base;}
        .box-lg                                             { padding: $base*2;}

        $adjust: 10px;
        &.pull-up                                           { padding-bottom: $base*6;
            + .section                                      { padding-top: 0; position: relative; top: -$base*3 + $adjust; margin-bottom: -$base*3 + $adjust;}

            + .section.plain                                { margin-top: 0;}
            + .section.plain::before                        { top: $base*2 + $adjust;}
        }


        .section                                            { padding: 0; margin-top: $base;}
        .section:first-child                                { margin-top: 0;}


        .columns
        {
            &                                               { margin-top: $base*0.5;}
            &:first-child                                   { margin-top: -$base*1.5;}

            .post-preview                                   { margin-top: $base*1.5;}

            &.sm
            {
                &                                           { margin-top: $base;}
                .post-preview                               { margin-top: $base;}

                &:first-child                               { margin-top: -$base;}
            }
        }
    }




    /*******************
    ** Copy spacing
    *******************/
    .post-text, .wysiwyg
    {
         h1,
        .h1                                                 { margin: $base*3 0 $base;}

         h2,  h3,
        .h2, .h3                                            { margin: $base*1.5 0 $base*.8333;}

         h4,  h5,  h6,
        .h4, .h5, .h6                                       { margin: $base 0 $base*.5;}

        .sub-head + { h1, h2, .h1, .h2                      { margin-top: $base/3;}}

        h1, h2 { + .sub-head                                { margin-top: -$base/1.25; margin-bottom: $base;} }

        ul, ol, p, blockquote                               { margin: $base auto;}

        *:first-child                                       { margin-top: 0;}
        *:last-child                                        { margin-bottom: 0;}
    }





    /*******************
    ** Post Preview Spacing
    *******************/
    .post-details
    {
        &, &>[data-mh]
        {
            > *                                             { margin-top: $base;}
            > :first-child                                  { margin-top: 0;}
        }

        .post-image + &                                     { padding-top: $base;}
    }


    .post-title
    {
        h1, h2, .h1, .h2,                                   { margin-bottom: -$base/2;}

        h3, .h3                                             { margin-bottom: -$base/3;}

        h4, h5, h6, .h4, .h5, .h6                           { margin-bottom: 0;}
    }


    .post-text
    {
        p, .btn
        {
            &                                               { margin: $base*.5 0;}
            &:first-child                                   { margin-top: 0;}
            &:last-child                                    { margin-bottom: 0;}
        }
    }

    .post-preview[class*="shaded"]
    {
        .post-details                                       { padding: $base*1.5 $base;}
        .post-image + .post-details                         { padding-top: 0;}

        .post-title                                         { margin-top: -$base;}
    }
}
