@mixin elementSpacing($base)
{
    .text, .wysiwyg
    {
        h1                                                      { margin-top: $base*3; margin-bottom: $base*.8333;}

        h2, h3                                                  { margin-top: $base*1.5;}

        h1:last-child,
        h2, h3, h4, h5, h6                                      { margin-bottom: $base;}

        ul, ol, p, blockquote                                   { margin: $base auto;}


        h1:first-child, h2:first-child,
        h3:first-child, p:last-child                            { margin-top: 0;}

        *:first-child                                           { margin-top: 0;}
        *:last-child                                            { margin-bottom: 0;}

        ul, ol                                                  { padding: 0 5px 0 20px;
            li                                                  { margin-top: 5px;}
            li:first-child                                      { margin-top: 0;}
            ul, ol                                              { margin: 0; padding-left: 30px;}
        }
        ul li                                                   { list-style: disc; }
        ol li                                                   { list-style: decimal;}

        img                                                     { height: auto;}

        .blank img                                              { max-height: 30px;}
    }


    .section
    {
        &.padd-xs                                               { padding-top: $base/2; padding-bottom: $base/2;}
        &.padd-sm                                               { padding-top: $base;   padding-bottom: $base;}
        &                                                       { padding-top: $base*2; padding-bottom: $base*2;}
        &.padd-md                                               { padding-top: $base*3; padding-bottom: $base*3;}
        &.padd-lg                                               { padding-top: $base*4; padding-bottom: $base*4;}
        &.padd-xl                                               { padding-top: $base*5; padding-bottom: $base*5;}
        &.padd-nn                                               { padding-top: 0;       padding-bottom: 0;}

        &.box                                                   { padding: $base*2.5 $base*2; margin: 0;}

        .section                                                { padding: 0; margin-top: $base;}
        .section:first-child                                    { margin-top: 0;}

        .row                                                    { margin-top: $base*2;
            &:first-child                                       { margin-top: 0;}

            > div > :first-child                                { margin-top: 0;}
            // > div > :last-child                                 { margin-bottom: 0;}
        }
    }

    .post-preview                                               { margin-bottom: $base*2;}

    .post-details                                               { //padding-left: $base; padding-right: $base;
        > *                                                     { margin-top: $base*.8;}
        > :first-child                                          { margin-top: 0;}

        .tag + *                                                { margin-top: $mobileSpacing;}

        .post-image + &                                         { padding-top: $base;}
    }

    .post-title                                                 { margin-bottom: -$base*.3;}

    .post-text
    {
        p { &, .btn                                             { margin: $base*.5 0;}
            &:last-child , .btn:last-child                      { margin-bottom: 0;}
            &:first-child, .btn:first-child                     { margin-top: 0;}
        }

        h4, h5, h6                                              { margin: $base 0 $base*.5;}
    }

    .shaded, .darken
    {
        &.post-preview .post-details                            { padding-bottom: $base*2;}
    }


    #filter                                                     { margin-bottom: $base*2;}
}
