@mixin mobileBreak( $class : '' )
{
    @if $class != ''
    {
        #{$class}
        {
            @include mobileStyles();
        }
    }
    @else
    {
        @include mobileStyles();
    }
}


@mixin mobileStyles()
{

    #mobile-wrap,
    #header + #wrapper { &, .is-scrolling &                 { padding-top: $headerT;}}
    #header            { &, .is-scrolling &                 { height: $headerT;
        .logo                                               { }
    }}


    #mobile-button                                          { display: block;}
}
