@charset "UTF-8"; /* Sets the encoding of the style sheet to Unicode UTF-8. Don't move it.
----------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
//  TABLE OF CONTENTS
////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------------------------------
01 - GENERAL STUFF FIRST
02 - LAYOUT
2A   - Header
2B   - Navigation
2C   - Banner
2D   - Content
2E   - Footer
2F   - Mobile
2G   - Internet Explorer

FONTS USED
--------------------------------------------------------------------------------------------------
font-family: Arial, Verdana, sans-serif;

----------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
01 - STYLE.CSS : GENERAL STUFF FIRST
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
*                                                           { user-select: none; box-sizing: border-box; backface-visibility: hidden;}

body                                                        { font-family: Arial, Verdana, sans-serif; font-weight: 400; line-height:1.125em;}


img                                                         { max-width:100%; display:block; vertical-align:bottom; }
                                                            /* Responsive images. Also, fixed spacing at bottom of image sometimes. */

div,span,
ol,ol li,
ul,ul li                                                    { list-style-type:none; vertical-align:top; }
                                                            /* Fixes alignment issues */

p                                                           { margin: 20px 0; vertical-align:top; }
                                                            /* Makes all paragraphs have 1em scaling margin on bottom. */

h1, h2, h3,
h4, h5, h6                                                  { font-style: normal; font-weight:400; font-style:normal; display:block; line-height:1.125em; margin-bottom: 10px; color: #333;}

h1                                                          { font-size: 60px;}
h2                                                          { font-size: 50px;}
h3                                                          { font-size: 40px;}
h4                                                          { font-size: 30px;}
h5                                                          { font-size: 25px;}
h6                                                          { font-size: 20px;}

a, img                                                      { text-decoration: none; border: none; outline: none; color: #00495d;}
                                                            /* Default definition for all links. */


/*1A. Patterns
-----------------------------------------------
/////////////////////////////////////////////// */
/*****************
** Vertical align middle
*****************/
.vam                                                        { position: relative; font-size: 0;}
.vam > *                                                    { display: inline-block; vertical-align: middle;}
.vam .fill                                                  { width: 0; height: 100%;}


/*****************
** Clearfix
*****************/
.cf:before                                                  { content: ""; display: table;}
.cf:after                                                   { content: ""; display: table; clear: both;}
.cf


/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
02 - STYLE.CSS : LAYOUT
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
html                                                        { -webkit-overflow-scrolling: touch;}

body                                                        { background: #fff;}

/*2A. Header
-----------------------------------------------
/////////////////////////////////////////////// */
#header                                                     { }


/*2B. Nav
-----------------------------------------------
/////////////////////////////////////////////// */
#nav                                                        { }


/*2C. Banner
-----------------------------------------------
/////////////////////////////////////////////// */
#banner                                                     { }


/*2D. Content
-----------------------------------------------
/////////////////////////////////////////////// */
#content                                                    { }


/*2E. Foot
-----------------------------------------------
/////////////////////////////////////////////// */
#footer                                                     { }


/*2F. Mobile
-----------------------------------------------
/////////////////////////////////////////////// */
html.mobile                                                 { }


/*2G. Internet Explorer
-----------------------------------------------
/////////////////////////////////////////////// */
html.ie9                                                    { }

html.ie8-7                                                  { }
