@charset "UTF-8";  /* Sets the encoding of the style sheet to Unicode UTF-8. Don't move it.

/* Libraries
------------------------------------------------------------------------------------------------- */
@import "libraries/animate";
@import "libraries/fx";
@import "libraries/hide-n-seek";
@import "libraries/wordpress";


/*--------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
//  TABLE OF CONTENTS
////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------------------------------

01 - GENERAL STUFF FIRST
1A   - Patterns
1B   - Bootstrap Override
**
02 - LAYOUT
2A   - Header
2B   - Banner
2C   - Content
2D   - Footer
2E   - Internet Explorer
**
03 - MEDIAQUERIES
3A   - High DPI
3B   - Above widths
3C   - Dektop
3D   - Tablets
3E   - Cellular

/*--------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
01 - STYLE.CSS : GENERAL STUFF FIRST
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
@import "styles/general";




/* 1A. Patterns
 *   - Vertical Align
 *   - Section Colors
 *   - SVG Wrap
 *   - Background Images
 *   - Responsive iFrames
 *   - Headers with background color
 *   - @import Buttons
 *   - @import Post Previews
 *   - @import Forms
 *   - @import Slick Carousel
----------------------------------------
////////////////////////////////////// */
@import "styles/patterns";


/* 1B. Bootstrap Override
----------------------------------------
////////////////////////////////////// */
[class^="container"]                                        { width: 100%; max-width: 100%; margin: 0 auto; transition: padding $speed ease;}
[class^="container"] [class^="container"]                   { padding-left: 15px; padding-right: 15px;}

section.no-gutter .row                                      { margin: 0;}
section.no-gutter .row > div                                { padding: 0;}




/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
02 - STYLE.CSS : LAYOUT
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
html                                                        { opacity: 0;}
html.ready                                                  { opacity: 1; transition: opacity $speed*2 ease;}

body                                                        { background: #fff; overflow: hidden; overflow-y: auto;}




/* 2A. Header
----------------------------------------
////////////////////////////////////// */
@import "styles/header";




/* 2B. Banner
----------------------------------------
////////////////////////////////////// */
@import "styles/banners";




/* 2C. Content
----------------------------------------
////////////////////////////////////// */
#content                                                    { }


/*******************
** Element Spacing
*******************/
@include elementSpacing($elementSpacing);




/* 2D. Footer
----------------------------------------
////////////////////////////////////// */
@import "styles/footer";




/* 2E. Internet Explorer
----------------------------------------
////////////////////////////////////// */

html.ie9                                                    { }

html.ie8-7                                                  { }








/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
03 - MEDIAQUERIES
////////////////////////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------------------------*/
@import "styles/media";
