.DS_Store
.gitignore

/sources/node_modules

/public_html/assets/fonts/*
/public_html/assets/css/master.css
/public_html/assets/css/master.min.css
/public_html/assets/scripts/master.js
/public_html/assets/scripts/master.min.js
/public_html/assets/includes/doctype.php
