/*--------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
//  PATTERNS
////////////////////////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------------------------*/
/*******************
** Vertical Align
*******************/
[class^="va-"]                                              { position: relative; height: 100%; font-size: 0;
    & > *                                                   { display: inline-block; float: none; font-size: 10px;}
    & .fill                                                 { width: 0; height: 100%;}
}

.va-t > *                                                   { vertical-align: top;}
.va-m > *                                                   { vertical-align: middle;}
.va-b > *                                                   { vertical-align: bottom;}


.no-ani                                                     { animation: none!important; transition: none!important;}




/*******************
** Section Colors
*******************/
.section                                                    { position: relative;}

.shaded                                                     { background-color: $grey-xlite;}
.shaded-2                                                   { background-color: $grey-lite;}
.shaded-3                                                   { background-color: $grey;}
.shaded-4                                                   { background-color: $grey-med;}
.darken                                                     { background-color: $grey-dark; color: #fff;}





/*******************
** SVG Wrap
*******************/
.svg-wrap                                                   { position: relative; padding-top: 80px;}
.svg-wrap svg                                               { @include absolute(0,auto,auto,0); margin: auto; height: 100%;}




/*******************
** Background Images
*******************/
.background                                                 { position: relative; background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: 100%; /*box-shadow: inset 0px 0px 50px -10px rgba(0,0,0,0.75);*/}
.background .background                                     { box-shadow: none;}
.background.darken::before                                  { content: ""; @include absolute(0,0,0,0); z-index: 1; margin: 0; width: 100%; height: 100%; background: $grey; opacity: 0.2;}




/*******************
** Responsive iFrames
*******************/
.embed-container                                            { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
    iframe, object, embed                                   { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
}




/*******************
** Headers with background color
*******************/
.js_add_BG                                                  { text-transform: uppercase; margin-bottom: $elementSpacing; line-height: 1.4; text-transform: uppercase; text-shadow: none;}
.js_add_BG span                                             { display: block; float: left; padding: 0 10px; margin-bottom: -10px; margin-right: -10px; background: $color-1; color: #fff;}




/*******************
** Buttons
*******************/
@import "buttons";




/*******************
** Post Previews
 * - Post Block
 * - Half Wrap
*******************/
@import "post-previews";




/*******************
** Forms
*******************/
@import "forms";




/*******************
** Slick Carousel
*******************/
@import "carousel";
