/*--------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
//  POST PREVIEWS
////////////////////////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------------------------*/
$postImagePadding: 71.4286%;

/*******************
** Post Block
*******************/
.post-preview                                               { position: relative;}

    .post-image                                             { position: relative; width: 100%; overflow: hidden;
        img                                                 { margin: 0 auto;}

        .img                                                { padding-top: $postImagePadding;}
        .img .background                                    { @include absolute(0,0,0,0); margin: auto; transform: scale(1); transition: all $speed ease;}

        a:hover .background,
        a:hover & .background                               { transform: scale(1.1);}

        &.featured-image                                    { width: 45%; padding-top: 25%;}
    }

    a:hover

    .post-details                                           { position: relative;
        &::before                                           { transition: opacity $speed ease;}
    }


        .post-icon img                                      { margin: 0 auto; max-height: 150px;}
        /**/
        .post-title                                         {
            *                                               { color: $grey-dark; transition: color $speed ease;}
            a:hover & *                                     { color: $color-1;}

            span                                            { display: block; @include fonts($oswald, $fontSize-md, 400, 1.25); text-transform: none;}
        }
        /**/
        .post-text                                          {
            a                                               { font-weight: 600;}
            a:hover                                         { text-decoration: underline;}
            a.btn, a.btn:hover                              { font-weight: 400; text-decoration: none;}

            ul, ol                                          { padding: 0 10px 0 20px;}
            ul li                                           { list-style: disc; margin-top: 5px;}
            ol li                                           { list-style: decimal; margin-top: 5px;}

            .gform_wrapper, .section                        { margin-top: $elementSpacing;}
        }
        /**/
        .post-btn                                           { }




/*******************
** Half Wrap
*******************/
$imageSize: 50%;
$postGap: 4%;
.half-wrap                                                  {
    .post-image                                             { @include absolute(0,15px,0,15px); height: 100%; padding: 0;}
    .post-image:before                                      { content: none;}

    .post-preview                                           { margin: 0;}
    .post-details                                           { padding: $elementSpacing*2; padding-right: 0;}
    .post-icon img                                          { margin: 0;}

    .shaded, .darken
    {
        .post-details                                       { padding: $elementSpacing*2;}
    }

    &.no-gutter .post-image                                 { left: 0; right: 0;}

    @media screen and (min-width: 768px)
    {
        .left .post-preview:not(.shaded) .post-details      { padding-left: 0; padding-right: $elementSpacing*2;}
    }
}
