/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
//  BREADCRUMB
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
#breadcrumb
{
    &                                                       { width: 100%; padding: $mobileSpacing 0;}

    p                                                       { display: block; margin-left: -10px;}

    span                                                    { display: inline-block; padding: 0 10px;}
    span span                                               { padding: 0;font-weight: 700;}

    a                                                       { color: #000; text-decoration: none;}
    a:hover                                                 { text-decoration: underline;}
}
