/*--------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
//  CAROUSEL
////////////////////////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------------------------*/
$imageWidth: 45%;
$pp-padding: 40px;

.carousel
{
    .slick-list                                             { position: relative; z-index: 0;}
    .slick-slide                                            { position: relative; display: block; float: left;
        &:focus                                             { outline: none;}
    }

    .arrows                                                 { }
    /**/
    .arrow                                                  { @include absolute(0,auto,0,auto); margin: auto; cursor: pointer; width: $elementSpacing*2; height: $elementSpacing*2; display: inline-block; border-radius: 50%; background: $color-1;  box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.5); transition: all $speed ease;
        &:hover                                             { }

        i                                                   { @include absolute(0,0,0,0); margin: auto; height: 34px; text-align: center; font-size: $fontSize-lg;}

        &.prev                                              { left: 0;}
        &.next                                              { right: 0;}

        &.disable                                           { opacity: 0; pointer-events: none;}
    }

    $buttonSpacing: 6px;
    .slick-dots                                             { text-align: center; font-size: 0; margin-left: -$buttonSpacing;
        li                                                  { opacity: 0.35; position: relative; display: inline-block; cursor: pointer; transition: opacity $speed ease;
            &:hover                                         { opacity: 0.65;}
            &.slick-active,
            &.slick-active:hover                            { opacity: 1;
                button::before                              { background: #fff;}
            }
            button                                          { background: none; padding: $buttonSpacing*2 $buttonSpacing; font-size: 0; text-indent: -9999px; border: none; color: transparent;
                &::before                                   { content: ""; display: block; width: 10px; height: 10px; border-radius: 50%; border: 1px solid #fff; background: transparent; transition: background $speed ease;}
                &:focus, &:active                           { outline: none;}
            }
        }
    }


    .post-image *                                           { height: 100%;}


    &.section.half-wrap                                     { padding: 0;
        .slick-sync                                         { background: #000;}
        .slick-sync *                                       { height: 100%;}
        .slick-sync.post-image                              { bottom: 0; height: auto;}

        .append-dots                                        { @include absolute(35px,auto,auto,0);}
        .left .append-dots                                  { left: $mobileSpacing;}

        .arrow                                              { @include absolute(0,auto,0,auto); z-index: 10; margin: auto;}
        .arrow.prev                                         { left: $elementSpacing;}
        .arrow.next                                         { right: $elementSpacing;}

        .post-details                                       { padding-top: $elementSpacing*3; padding-bottom: $elementSpacing*2;}
    }


    &.section.slider                                        { padding: 0;
        .slick                                              { max-width: 80%; margin: 0 auto;}
        .slick-sync                                         { margin-top: 15px;}

        .post-image                                         { margin: $mobileSpacing*3 $mobileSpacing*1.5; padding-top: 4%;}
        .post-details                                       { padding-top: 0; padding-bottom: $elementSpacing;}

        .arrows                                             { text-align: center;}
        .append-dots                                        { position: relative; display: inline-block;}
        .slick-dots                                         { margin: 0;}

        .arrows                                             { position: relative; padding-bottom: $mobileSpacing*3;}
        .arrow                                              { width: $elementSpacing; height: $elementSpacing;
            i                                               { font-size: $fontSize-bs; height: 18px;}

            &.prev                                          { left: auto; right: 100%; margin-right: $mobileSpacing;}
            &.next                                          { right: auto; left: 100%; margin-left: $mobileSpacing;}
        }
    }

}
